<?xml version="1.0"?>
<launch>
  <arg name="config" default="base" />

  <param name="robot_description"
         command="$(find warthog_description)/scripts/env_run
                  $(find warthog_description)/urdf/configs/$(arg config)
                  $(find xacro)/xacro $(find warthog_description)/urdf/warthog.urdf.xacro
                  --inorder" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
