<?xml version="1.0"?>
<launch>
  <rosparam command="load" file="$(find warthog_control)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
      args="warthog_joint_publisher warthog_velocity_controller --timeout 10" />

  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />

</launch>
